@model Shoping_Cart.tblorder
@{
    ViewBag.Title = "checkout";
    Layout = "~/Views/Shared/_FrontEnd.cshtml";
}

<h2>Checkout</h2>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <table class="table">
            @{
                Html.BeginForm("checkout", "Home", FormMethod.Post);
                <tr>
                    <td>Name:</td>
                    <td>@Html.TextBoxFor(a => a.opname);</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>@Html.TextBoxFor(a => a.opphone);</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>@Html.TextBoxFor(a => a.opaddress);</td>
                </tr>
                <tr>
                    <td>Shipping Address:</td>
                    <td>@Html.TextBoxFor(a => a.opsaddress);</td>
                </tr>
            }
        </table>
        <input class="col-sm-6 col-sm-offset-3" type="submit" value="Place Order" />
        <br />
    </div>
</div>
