
@{
    ViewBag.Title = "pro";
    Layout = "~/Views/Shared/_FrontEnd.cshtml";
}



<div class="maincontent-area">


    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="">
                            <input type="text" placeholder="Search products...">
                            <input type="submit" value="Search">
                        </form>
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        <div class="thubmnail-recent">
                            <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="">Sony Smart TV - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$100.00</del>
                            </div>
                        </div>
                        
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Recent Posts</h2>
                        <ul>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                       <!---<div class="product-breadcroumb">
                            <a href="">Home</a>
                            <a href="">Category Name</a>
                            <a href="">Sony Smart TV - 2015</a>
                        </div>-->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                     @{
                                         var c = 1;
                                         foreach (var img in ViewBag.imgs)
                                         {

                                             if (c == 1)
                                             {

                                    <div class="product-main-img">
                                        <img id="big" src="~/Content/Images/@img.iname" alt="">
                                    </div>



                                             }
                                             c++;
                                         }
                                         }
                                <div class="product-gallery">
                                    @foreach (var img in ViewBag.imgs)
                                    {
                                        <img onclick="document.getElementById('big').src = this.src;" src="~/Content/Images/@img.iname" alt="">
                                    }

                                </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    @{
                                        foreach (var item in ViewBag.p)
                                        {
                                            <h2 class="product-name">@item.pname</h2>
                                            <div class="product-inner-price">
                                                <ins>$@item.pprice</ins>
                                            </div>

                                            
                                                Html.BeginForm("cart", "Home", FormMethod.Post);
                                <div class="quantity">
                                            <input type="hidden" value="@item.pid" name="pid"/>
                                            <input type="text" name="pqty" value="1"/>
                                    <!--<input type="number" size="4" class="input-text qty text" title="Qty" value="1" id="qty" name="quantity" min="1" step="1">-->
                                </div>
                                <button class="add_to_cart_button" type="submit">Add to cart</button>

                                            




                                            <div class="product-inner-category">
                                                <p>Category: <a href="">Summer</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                                            </div>

                                            <div role="tabpanel">
                                                <ul class="product-tab" role="tablist">
                                                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                        <h2>Product Description</h2>
                                                        <p>@item.pdetails</p>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="profile">
                                                        <h2>Reviews</h2>
                                                        <div class="submit-review">
                                                            <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                            <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                            <div class="rating-chooser">
                                                                <p>Your rating</p>

                                                                <div class="rating-wrap-post">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                            <p><input type="submit" value="Submit"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                                                    }
                                    }
                                </div>
                            </div>
                        </div>


                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
























    