
@{
    ViewBag.Title = "Dashboard";
}



<center>
    <h1>Dashboard: Welcome to Pro-Line Site</h1>
    <h2>Here you can add Categories, Products of Your Own!</h2>
    <p><b><i>Click on the above tabs to get started!</i></b></p>
    <p><i>If you want to see the changes in the home..Head Back to the Home page &nbsp;</i> </p>
    <a href="@Url.Action("Index");> HOME PAGE</a>
</center>
